<div id="introduction" class="introduction">
    <div class="image">
        <img src="./assets/Tejas.jpg" alt="Avatar">
    </div>
    <div class="text">
        <h6>INTRODUCTON</h6>
        <h2>I'm Tejas Rao
            <span class="text-theme">Experianced Software Devloper </span>
        </h2>
        <p>I am a dedicated software developer who places a high emphasis on creating robust and resilient software
            solutions. Regardless of the technology stack employed, my adherence to Agile methodologies allows for a
            seamless development process. This, in turn, ensures quick adaptability to changes and enables the
            delivery of superior-quality applications in a timely manner.
        </p>
        <div class="container">
            <div class="box experience-box">
                <h3>1+</h3>
                <p>Years of Experiance</p>
            </div>
            <div class="box projects-box">
                <h3>6</h3>
                <p>Projects Completed</p>
            </div>
        </div>
        
        <a href="#"
            class="link-effect link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Browse
            Resume</a>


    </div>
</div>